<mat-card class="item mat-elevation-z8" style="margin-bottom: 10px;" [ngStyle]="{'opacity': 1-noBidStatus*.5}">
  <mat-card-header style="display: flex; flex-direction: column-reverse;">
    <div style="display: flex; flex-direction: column-reverse;">
      <div style="display: flex; justify-content: space-between;">
        <mat-card-title [matTooltip]="job.jobId" [matTooltipDisabled]="!isDev">{{job.projectName}}</mat-card-title>
        <div style="width:50px; display:flex; justify-content: flex-end;" *ngIf="!noBidStatus">
          <ng-content></ng-content>
        </div>
      </div>
      <div style="font-style: italic;">{{job.displayJobId}}</div>
    </div>
    <mat-card-subtitle>
      <p style="margin: 0px">{{job.contractorName}}</p>
      <a href="mailto:{{mailTo}}">{{job.contactName}}</a>
      <p>{{job.contactNumber}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section>
      <p style="margin: 0px"><strong>Invite: </strong>{{job.dateAdded | date : 'MM/dd/yyyy'}}</p>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue!='ASAP' && !isAwardedCol">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due:
          </strong>{{job.dateDue | date : 'MM/dd/yyyy'}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue=='ASAP' && !isAwardedCol">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due: </strong>{{job.dateDue}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="isAwardedCol">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>Start Date:
          </strong>{{job.startTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="isAwardedCol">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>End Date:
          </strong>{{job.endTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
    </section>

    <section *ngIf="isBiddingCol" style="display: flex; justify-content: flex-end;">
      <mat-slide-toggle color="warn" (change)="onNoBid($event)" [(ngModel)]="noBidStatus">No Bid</mat-slide-toggle>
    </section>

    <section *ngIf="job.statusId!=11">
      <p *ngIf="!isAwardedCol"><strong>Total Estimates: </strong>{{job.total_estimates}}</p>
      <p *ngIf="isAwardedCol"><strong>Project Value: </strong>{{job.project_value | currency}}</p>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <button color="primary" mat-button (click)="onOpenCurrentEstimate()">Current Proposal</button>
        <button *ngIf="isAwardedCol" matTooltip="Edit Final Price" (click)="onDiscount()" mat-mini-fab color="primary"
          style="width: 25px; height: 25px; display: flex; align-items: center; justify-content: center;">
          <mat-icon>monetization_on_outline</mat-icon>
        </button>
      </div>
    </section>

    <section *ngIf="isEstimatingCol" style="display:flex">
      <mat-form-field style="width: 140px">
        <mat-label>Assigned To:</mat-label>
        <mat-select [(ngModel)]="assignedTo" (selectionChange)="onAssignedToChanged($event)">
          <mat-option *ngFor="let option of estimatorOptions" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 60px">
        <mat-label>Box:</mat-label>
        <mat-select [(ngModel)]="selectedBox" (selectionChange)="onBoxChanged($event)">
          <mat-option *ngFor="let option of boxOptions" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section *ngIf="job.statusId!=12 && job.statusId!=11">
      <mat-form-field style="width: 200px">
        <mat-label>Current Status:</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChanged($event)">
          <mat-option *ngFor="let option of statusOptions" [value]="option">
            {{option.status}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="display: flex; justify-content: stretch; align-items: flex-end;">
        <mat-form-field>
          <mat-label>Notes:</mat-label>
          <input matInput [(ngModel)]="job.notes" (keydown.enter)="onSaveNote()">
          <button mat-button *ngIf="job.notes" matSuffix mat-icon-button aria-label="Clear"
            (click)="job.notes=''; onSaveNote()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button (click)="onSaveNote()" mat-mini-fab color="primary"
          style="width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; margin: 0 0 17.5px">+</button>
      </div>
    </section>

  </mat-card-content>

  <mat-card-actions
    style="display: flex; justify-content: space-around; align-items: flex-start; background: whitesmoke">
    <button mat-button matTooltipPosition="above" matTooltip="View Attached File" (click)="onViewFileList()">
      <mat-icon [matBadge]="job.attachedFileCount" matBadgeSize="small">
        attach_file
      </mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Proposal History" (click)="onProposalHistory()">
      <mat-icon>library_books</mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Job History" (click)="onJobHistory()">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Delete" (click)="onDelete()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
