<div style="display: flex; align-items: center;">
  <mat-form-field style="width: 25%; margin-left: 24px;">
    <mat-label>Search</mat-label>
    <input #search name="project-search" matInput (keydown.enter)="onSearch(search.value)">
    <button mat-button *ngIf="search.value.length" matSuffix mat-icon-button aria-label="Clear"
      (click)="search.value='';">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Search by Contractor Name, Project Name, Contact Name, or Job ID</mat-hint>
  </mat-form-field>

  <div>
    <button #searchButton style="margin-left: 10px" mat-raised-button color="primary"
      (click)="onSearch(search.value)">Search</button>
  </div>
</div>

<div style="padding-top: 24px" *ngIf='!noData; else noDataDiv'>
  <table mat-table matSort [dataSource]="data" matSortDisableClear [matSortActive]="sortCol"
    (matSortChange)="onSortChanged()" class="mat-elevation-z8" multiTemplateDataRows *ngIf="data">

    <ng-container [matColumnDef]="columnDef" *ngFor="let columnDef of displayedColumns; let i = index">
      <th mat-header-cell *matHeaderCellDef style="background: whitesmoke;" mat-sort-header>
        {{columnDef | titlecase}}
      </th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf="columnDef == 'project value'">{{element[columnDef] | currency}}</div>
        <div *ngIf="columnDef == 'last update'">{{element[columnDef] | date : 'short'}}</div>
        <div *ngIf="columnDef == 'date created'">{{element[columnDef] | date : 'MM/dd/yy'}}</div>
        <div *ngIf="!['date created', 'last update',  'project value'].includes(columnDef)">{{element[columnDef]}}</div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <!-- EXPANDED ELEMENT -->
          <app-search-item *ngIf="element == expandedElement" [jobId]="element.jobId"></app-search-item>

        </div>
      </td>
    </ng-container>


    <tr mat-header-row class="sticky-row" *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="onExpand(row); expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
<loading-wrapper></loading-wrapper>


<ng-template #noDataDiv>
  <div style="display: flex; align-items: stretch; justify-content: center;">
    <h1>No Data Found</h1>
  </div>
</ng-template>
