<div class="sidebar" [ngStyle]="{'width': width}">
  <img src="../../assets/img/logo.png" [attr.width]="width +'px'"
    [attr.height]="width*.65+'px'">
  <div class="button-groups">
    <div class="core-button-group">
      <div class="icon-group" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="icon">view_quilt</mat-icon>
        <small>Dashboard</small>
      </div>
      <div id="charts" class="icon-group" routerLink="/charts" routerLinkActive="active">
        <mat-icon class="icon">insert_chart_outlined</mat-icon>
        <small>Charts</small>
      </div>
      <div class="icon-group" routerLink="/reports" routerLinkActive="active">
        <mat-icon class="icon">list_alt</mat-icon>
        <small>Reports</small>
      </div>
      <div class="icon-group" routerLink="/search" routerLinkActive="active">
        <mat-icon class="icon">search</mat-icon>
        <small>Search</small>
      </div>
    </div>
    <div class="bottom-button-group">
      <div id="people" class="icon-group" (click)="onSettings()">
        <mat-icon class="icon" fontSet="material-icons-outlined">settings</mat-icon>
        <small>Settings</small>
      </div>
      <div id="help" class="icon-group" (click)="onHelp()">
        <mat-icon class="icon">help_outline</mat-icon>
        <small>Help</small>
      </div>
      <br>
      <div style="text-align: center;">
        <small>Version</small>
        <small>{{version}}</small>
      </div>
    </div>
  </div>
</div>
