<h1 mat-dialog-title>Add Estimate</h1>
<div mat-dialog-content>
  <mat-vertical-stepper>
    <mat-step [stepControl]="costFormGroup">
      <form [formGroup]="costFormGroup">
        <ng-template matStepLabel>Proposal Type</ng-template>
        <div style="display: flex; justify-content: space-evenly;">
          <mat-form-field style="width: 25%">
            <mat-label>Estimate Type</mat-label>
            <input name="estimateType" matInput [matAutocomplete]="estimateType" formControlName="estimateType">
            <button mat-button *ngIf="costFormGroup.get('estimateType').value" matSuffix mat-icon-button
              aria-label="Clear" (click)="costFormGroup.patchValue({estimateType: {}})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #estimateType="matAutocomplete"
              [displayWith]="estimateTypeDisplayFn">
              <mat-option *ngFor="let option of estimateTypes$ | async" [value]="option">
                {{option.type | titlecase}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field style="width: 25%">
            <mat-label>Cost</mat-label>
            <input name="cost" matInput type="number" formControlName="cost">
            <button mat-button *ngIf="costFormGroup.get('cost').value" matSuffix mat-icon-button aria-label="Clear"
              (click)="costFormGroup.patchValue({cost: null})">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>


          <mat-form-field style="width: 25%">
            <mat-label>Estimator</mat-label>
            <input name="estimator" matInput [matAutocomplete]="estimator" formControlName="estimator">
            <button mat-button *ngIf="costFormGroup.get('estimator').value" matSuffix mat-icon-button aria-label="Clear"
              (click)="costFormGroup.patchValue({estimator: {}})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #estimator="matAutocomplete" [displayWith]="estimatorDisplayFn">
              <mat-option *ngFor="let option of filteredEstimators$ | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-radio-group color="primary" style="display: flex; justify-content: space-around"
          formControlName="isInHouse">
          <mat-radio-button value="true">In House</mat-radio-button>
          <mat-radio-button value="false">Out of House</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="costFormGroup.get('isInHouse').value == 'false'">
          <mat-form-field>
            <mat-label>Fee</mat-label>
            <input name="fee" matInput type="number" formControlName="fee">
            <button mat-button *ngIf="costFormGroup.get('fee').value" matSuffix mat-icon-button aria-label="Clear"
              (click)="costFormGroup.patchValue({fee: null})">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <!-- <p><strong>Estimate Fee: </strong> {{projectCost$ | async | currency}}</p> -->
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <p *ngIf="error" style="color: red;">ERROR: {{error}}</p>
    </mat-step>

    <mat-step [stepControl]="jobFormGroup">
      <form [formGroup]="jobFormGroup">
        <ng-template matStepLabel>Select Jobs</ng-template>
        <div style="display: flex; flex-direction: column;">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let job of selectedJobs; let i=index" selectable=true removable=true
                (removed)="onRemoveJob(i)">
                {{job.projectName}} | <small>{{job.contractorName}}</small>
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>

            <input name="jobs" #jobsInput matInput [matAutocomplete]="jobs" formControlName="jobs"
              placeholder="Attach Jobs" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">

            <mat-autocomplete autoActiveFirstOption #jobs="matAutocomplete">
              <mat-option *ngFor="let option of filteredJobs$ | async" [value]="option"
                (click)="onOptionSelect(option)">
                {{option.projectName}} | <small>{{option.contractorName}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button #saveButton mat-button color="primary" (click)="onSave()">Save</button>
          </div>

        </div>
        <p *ngIf="error" style="color: red;">ERROR: {{error}}</p>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
