<mat-card class="item mat-elevation-z8" style="margin-bottom: 10px; width: 250px;"
  [ngStyle]="{'opacity': 1- (!!job.isNoBid ? 1 : 0) *.5, 'background': (tileColor$ | async)}">
 <mat-card-header style="display: flex; flex-direction: column-reverse;">
    <div style="display: flex; flex-direction: column-reverse;">
      <div style="display: flex; justify-content: space-between;">
        <mat-card-title [matTooltip]="job.jobId" [matTooltipDisabled]="!isDev" (click)="onTitleClicked()">
          {{job.projectName}}</mat-card-title>
        <div style="width:50px; display:flex; justify-content: flex-end;" *ngIf="!job.isNoBid">
          <ng-content></ng-content>
        </div>
      </div>
      <div style="font-style: italic;">{{job.jobDisplayId}}</div>
    </div>
    <mat-card-subtitle>
      <p style="margin: 0px">{{job.contractorName}}</p>
      <a href="mailto:{{mailTo}}">{{job.contactName}}</a>
      <p>{{job.contactNumber}}</p>
    </mat-card-subtitle>
  </mat-card-header>

   <mat-card-content>
    <section>
      <p style="margin: 0px"><strong>Invite: </strong>{{job.dateAdded | date : 'MM/dd/yyyy'}}</p>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue!='ASAP' && job.currentDashboardColumn!='awarded'">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due:
          </strong>{{job.dateDue | date : 'MM/dd/yyyy'}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue=='ASAP' && job.currentDashboardColumn!='awarded'">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due: </strong>{{job.dateDue}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.currentDashboardColumn=='awarded'">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>Start Date:
          </strong>{{job.startTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.currentDashboardColumn=='awarded'">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>End Date:
          </strong>{{job.endTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
    </section>

   <section *ngIf="job.currentDashboardColumn=='invitation'" style="display: flex; justify-content: flex-end;">
      <mat-slide-toggle color="warn" (change)="onNoBid($event)" [checked]="!!job.isNoBid">No Bid</mat-slide-toggle>
    </section>

    <section *ngIf="job.currentDashboardColumn!='invitation'">
      <p *ngIf="job.currentDashboardColumn!='awarded'"><strong>Total Estimates: </strong>{{job.estimateCount}}</p>
      <p *ngIf="job.currentDashboardColumn!='estimating' && job.currentDashboardColumn!='invitation'">
        <strong>Project Value: </strong>
        {{(job.projectValue) | currency}}
      </p>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <button color="primary" mat-button (click)="onOpenCurrentProposal()">Current Proposal</button>
        <button *ngIf="job.currentDashboardColumn!='estimating' && job.currentDashboardColumn!='invitation'" 
          matTooltip="Edit Final Price" 
          (click)="onDiscount()"
          mat-icon-button color="primary">
          <mat-icon>monetization_on</mat-icon>
        </button>
      </div>
    </section>

    <section *ngIf="job.currentDashboardColumn=='estimating'" style="display:flex">
      <mat-form-field style="width: 140px">
        <mat-label>Assigned To:</mat-label>
        <mat-select [value]="job.assignedTo" (selectionChange)="onAssignedToChanged($event)">
          <mat-option *ngFor="let option of estimatorOptions$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="width: 60px">
        <mat-label>Box:</mat-label>
        <mat-select [value]="(+job.box)" (selectionChange)="onBoxChanged($event)">
          <mat-option *ngFor="let option of boxOptions$ | async" [value]="option.id">
            {{option.boxId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section> 

    <section *ngIf="job.currentDashboardColumn!='awarded'">
      <mat-form-field style="width: 200px">
        <mat-label>Current Status:</mat-label>
        <mat-select [value]="job.statusId" (selectionChange)="onStatusChanged($event)">
          <mat-option *ngFor="let option of statusOptions$ | async" [value]="option.id">
            {{option.status}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="display: flex; justify-content: stretch; align-items: flex-end;">
        <mat-form-field>
          <mat-label>Notes:</mat-label>
          <input #note name="note" matInput [value]="job.notes" (keydown.enter)="onSaveNote(note.value)">
          <button mat-button *ngIf="job.notes" matSuffix mat-icon-button aria-label="Clear"
            (click)="note.value=''; onSaveNote(note.value)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button (click)="onSaveNote(note.value)" mat-mini-fab color="primary"
          style="width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; margin: 0 0 17.5px">+</button>
      </div>
      <div style="display: flex; justify-content: stretch; align-items: flex-end;" *ngIf="job.currentDashboardColumn=='proposal' || job.currentDashboardColumn=='hold'">
        <mat-form-field>
          <mat-label>Follow Up Info:</mat-label>
          <input #reportNote name="reportNote" matInput [value]="job.reportOnlyNotes" (keydown.enter)="onSaveReportNote(reportNote.value)">
          <button mat-button *ngIf="job.reportOnlyNotes" matSuffix mat-icon-button aria-label="Clear"
            (click)="reportNote.value=''; onSaveReportNote(reportNote.value)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button (click)="onSaveReportNote(reportNote.value)" mat-mini-fab color="primary"
          style="width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; margin: 0 0 17.5px">+</button>
      </div>
    </section>

  </mat-card-content>

  <mat-card-actions style="display: flex; justify-content: space-around; align-items: flex-start;" [ngStyle]="{'background': setDarkendFooter((tileColor$ | async))}">
    <button mat-button matTooltipPosition="above" matTooltip="View Attached File" (click)="onViewFileList()">
      <mat-icon [matBadge]="job.fileCount ? job.fileCount : null" matBadgeSize="small">
        attach_file
      </mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Proposal History" (click)="onProposalHistory()">
      <mat-icon>library_books</mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Job History" (click)="onJobHistory()">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Highlight" (click)="onAlert()">
      <mat-icon *ngIf="!job.isAlerted">flash_on</mat-icon>
      <mat-icon *ngIf="job.isAlerted">flash_off</mat-icon>
    </button>
    <button mat-button matTooltipPosition="above" matTooltip="Delete" (click)="onDelete()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


<ng-template #search>

  <div style="display: flex; justify-content: space-around;">
    <div>
      <h3>Contact Info:</h3>
      <p style="margin: 0px">{{job.contractorName}}</p>
      <a href="mailto:{{mailTo}}">{{job.contactName}}</a>
      <p>{{job.contactNumber}}</p>
    </div>

    <!-- <section style="display: flex; flex-direction:column; justify-content: center;">
      <h3>Bid Status</h3>
      <mat-slide-toggle color="warn" style="margin-bottom: 8px" (change)="onNoBid($event)"
         [(ngModel)]="noBidStatus">No Bid</mat-slide-toggle>
      <p style="margin: 0px"><strong>Invite: </strong>{{job.dateAdded | date : 'MM/dd/yyyy'}}</p>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue!='ASAP'">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due:
          </strong>{{job.dateDue | date : 'MM/dd/yyyy'}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngIf="job.dateDue=='ASAP'">
        <p class="due-date" (click)="onDueDateSelected()"><strong>Due: </strong>{{job.dateDue}}</p>
        <mat-icon class="due-date-hidden">create</mat-icon>
      </div>
    </section> -->

    <section>
      <h3>Award Timeline</h3>
      <div style="display: flex; justify-content: space-between;">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>Start Date:
          </strong>{{job.startTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p class="award-timeline" (click)="onStartEndDateSelected()"><strong>End Date:
          </strong>{{job.endTime | date : 'MM/dd/yyyy'}}
        </p>
        <mat-icon class="award-timeline-hidden">create</mat-icon>
      </div>
    </section>

    <!-- <div>
      <button mat-button matTooltipPosition="above" matTooltip="View Attached File" (click)="onViewFileList()">
        <mat-icon [matBadge]="job.attachedFileCount" matBadgeSize="small">
          attach_file
        </mat-icon>
      </button>
      <button mat-button matTooltipPosition="above" matTooltip="Proposal History" (click)="onProposalHistory()">
        <mat-icon>library_books</mat-icon>
      </button>
      <button mat-button matTooltipPosition="above" matTooltip="Job History" (click)="onJobHistory()">
        <mat-icon>history</mat-icon>
      </button>
      <button mat-button matTooltipPosition="above" matTooltip="Delete" (click)="onDelete()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div> -->
  </div>

</ng-template>
