<h1 mat-dialog-title style="margin:0">Best & Final - {{job.projectName}}</h1>
<h3>{{job.contractorName}}</h3>
<div mat-dialog-content [formGroup]="finalCostFormGroup">

  <section style="display:flex; flex-direction: column; align-content: stretch; width: 100%;">
    <p><strong>Current Project Value: </strong>{{ job.project_value | currency }}</p>
    
    <mat-form-field>
      <mat-label>Final Price:</mat-label>
      <input name="price" matInput type="number" formControlName="amount">
      <button mat-button *ngIf="finalCostFormGroup.get('amount').value" matSuffix mat-icon-button aria-label="Clear"
        (click)="finalCostFormGroup.patchValue({amount: null})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Notes:</mat-label>
      <input name="final_notes" matInput formControlName="note">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"
        (click)="finalCostFormGroup.patchValue({note: null})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </section>
</div>

<div mat-dialog-actions style="width: 100%;">
  <div style="display: flex; justify-content: center; width: 100%">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
  <p *ngIf="error" style="color: red;">ERROR: {{error}}</p>
</div>
