<div class="sidebar" [ngStyle]="{'width': (width$ | async)+'px'}">
  <img src="../../assets/img/logo.png" [attr.width]="(defaultWidth$ | async)+'px'"
    [attr.height]="(defaultWidth$ | async)*.65+'px'">
  <div class="button-groups">
    <div class="core-button-group">
      <div class="icon-group" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="icon">view_quilt</mat-icon>
        <small>Dashboard</small>
      </div>
      <div id="charts" class="icon-group" routerLink="/charts" routerLinkActive="active">
        <mat-icon class="icon">insert_chart_outlined</mat-icon>
        <small>Charts</small>
        <!-- <div *ngIf="isExpanded && activeButton == 'charts'">
          <ul>
            <li>Bid Invitations</li>
            <li>Bids By Contractor</li>
            <li>Job Chart</li>
            <li>Awards Chart</li>
          </ul>
        </div> -->
      </div>
      <div class="icon-group" routerLink="/reports" routerLinkActive="active">
        <mat-icon class="icon">square_foot</mat-icon>
        <small>Reports</small>
        <!-- <div *ngIf="isExpanded && activeButton == 'reports'">
          <ul>
            <li>Estimating Board</li>
            <li>Awards</li>
            <li>Monthly Estimate Count</li>
            <li>Monthly Report</li>
          </ul>
        </div> -->
      </div>
      <!-- <div class="icon-group" routerLink="/search" routerLinkActive="active">
        <mat-icon class="icon">search</mat-icon>
        <small>Search</small>
      </div> -->
    </div>
    <div class="bottom-button-group">
      <div id="people" class="icon-group" (click)="onEditEstimators()">
        <mat-icon class="icon" fontSet="material-icons-outlined">settings</mat-icon>
        <small>Settings</small>
      </div>
      <div id="help" class="icon-group" (click)="onHelp()">
        <mat-icon class="icon">help_outline</mat-icon>
        <small>Help</small>
      </div>
      <br>
      <div style="text-align: center;">
        <small>Version</small>
        <small>{{version}}</small>
      </div>
    </div>
  </div>
</div>
