<h1 mat-dialog-title style="margin:0">Award Timeline - {{job.projectName}}</h1>
<h3>{{job.contractorName}}</h3>
<div mat-dialog-content [formGroup]="timelineFormGroup">

  <section style="display:flex; flex-direction: column; align-content: stretch; width: 100%;">
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input name="startDate" matInput [matDatepicker]="picker1" formControlName="startTime">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input name="dueDate" matInput [matDatepicker]="picker2" formControlName="endTime">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </section>
  <p *ngIf="error" style="color: red;">ERROR: {{error}}</p>

</div>

<div mat-dialog-actions style="width: 100%;">
  <div style="display: flex; justify-content: center; width: 100%">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</div>
