<h1 style="display: inline; margin-right: 24px; font-weight: 500; padding: 10px">Job Board</h1>
<button style="margin-right: 8px" mat-raised-button (click)="onCreateContractor()">Add Contractor</button>
<button style="margin-right: 8px" mat-raised-button (click)="onCreateProject()">Add Project</button>
<button style="margin-right: 8px" mat-raised-button color="primary" (click)="onCreateBid()">Create IFB</button>
<button style="margin-right: 8px" mat-raised-button color="warn" (click)="onCreateEstimate()">Add Estimate</button>
<app-job-board (boardUpdated)="onBoardUpdated($event)"></app-job-board>
